[user]
    name = Anton Waniek
    email = antonwnk@users.noreply.github.com
[init]
    defaultBranch = main
[core]
    editor = nvim
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
